<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{pathFor 'postsList'}}">Microscope</a>

            <div class="nav-collapse collapse">
                {{#if currentUser}}
                    <ul class="nav">
                        <li><a href="{{pathFor 'postSubmit'}}">New</a></li>
                    </ul>
                {{/if}}
                <ul class="nav pull-right">
                    <li>{{>loginButtons align="right"}}</li>
                </ul>
            </div>
        </div>
    </header>
</template>
