<template name="postPage">
    {{> postItem}}

    <ul class="comments">
        {{#each comments}}
            {{> comment}}
        {{/each}}
    </ul>
    {{#if currentUser}}
        {{> commentSubmit}}
    {{else}}
        <p>Please log in to leave a comment.</p>
    {{/if}}
</template>