<template name="postItem">
    <div class="post">
        <div class="post-content">
            <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>

            <p>
                submitted by {{author}},
                <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
                {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
            </p>
        </div>
        <a href="{{pathFor 'postPage'}}" class="discuss btn">Discuss</a>
    </div>
</template>